[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = examples
[access "refs/*"]
	owner = group user/tbulavko (TiashaBY)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/tbulavko (TiashaBY)
	label-Verified = -1..+1 group user/tbulavko (TiashaBY)
	push = group user/tbulavko (TiashaBY)
	read = group user/tbulavko (TiashaBY)
	rebase = group user/tbulavko (TiashaBY)
	removeReviewer = group user/tbulavko (TiashaBY)
	submit = group user/tbulavko (TiashaBY)
[access "refs/heads/*"]
	create = group user/tbulavko (TiashaBY)
	push = +force group user/tbulavko (TiashaBY)
	pushMerge = group user/tbulavko (TiashaBY)
	read = group user/tbulavko (TiashaBY)
[access "refs/tags/*"]
	push = group user/tbulavko (TiashaBY)
	push = +force group user/tbulavko (TiashaBY)
